# Задание

In [4]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
data=pd.read_csv("../datasets/kaggle_survey_2022_responses.csv")

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [85]:
# Код тут
data.describe()['Q2'].iloc[2]

'18-21'

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [118]:
# Код тут
round(((data[(data['Q3'] == 'Woman')&(data['Q5'] == 'No')&(data['Q4'] == 'Russia')].iloc[0:].count())/(data[(data['Q4'] == 'Russia')&(data['Q5'] == 'No')].iloc[0:].count())).iloc[0],2)

0.24

In [119]:
round(((data[(data['Q3'] == 'Woman') & (data['Q5'] == 'No') & (data['Q4'] == 'Russia')].iloc[0:].count())/( data[(data['Q4'] == 'Russia')].iloc[0:].count())).iloc[0],2)

0.12

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [120]:
# Код тут
round((data["Duration (in seconds)"][1:].astype(int).mean()/60),2)

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [125]:
# Код тут
for row in data.loc[:, 'Q6_1':'Q6_12'].melt()['value'].value_counts().iloc[:3].index.tolist():
    print(row, end = ", ")

Coursera, University Courses (resulting in a university degree), Kaggle Learn Courses,

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [126]:
# Код тут
for row in data[(data['Q23'] == 'Data Scientist')].loc[:, 'Q12_1':'Q12_15'].melt().dropna().value_counts().iloc[:5].index.tolist():
    print(row[1], end = ", ")

Python, SQL, R, Bash, Javascript,

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [253]:
# Код тут
# 23 29
col = data[(data['Q23'] == 'Data Scientist') | (data['Q23'] == 'Machine Learning/ MLops Engineer')]['Q29'].dropna()
employees_mapping = {
    '25,000-29,999': 27500, '200,000-249,999': 225000, '150,000-199,999': 175000,
    '50,000-59,999': 55000, '125,000-149,999': 137500, '5,000-7,499': 6250,
    '10,000-14,999': 12500, '30,000-39,999' : 35000, '$0-999' : 500,
    '4,000-4,999' : 4500, '3,000-3,999' : 3500, '80,000-89,999' : 85000, 
    '7,500-9,999' : 8250, '100,000-124,999' : 112500, '1,000-1,999' : 1500,
    '15,000-19,999': 17500, '90,000-99,999' : 95000, '40,000-49,999' : 45000,
    '60,000-69,999' : 65000, '>$1,000,000' : 1000000, '70,000-79,999' : 75000,
    '2,000-2,999' : 2500, '20,000-24,999' : 22500,'300,000-499,999' : 400000,
    '250,000-299,999' : 275000, '$500,000-999,999' : 750000
}
uniq = col.map(employees_mapping)
round(sum(uniq.values)/len(uniq.values),3)

69659.892

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [124]:
# Код тут
q12_col = ['Q12_1','Q12_2','Q12_3','Q12_4','Q12_5','Q12_6','Q12_7','Q12_8','Q12_9','Q12_10','Q12_11','Q12_12','Q12_13','Q12_14','Q12_15',]
platforms = data[q12_col].melt(var_name='вопрос', value_vars=q12_col)
platforms['value'].value_counts().index[0]

'Python'